.User {
    border: 3px solid grey;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.UserBtn {
    width: 120px;
    height: 30px;
    margin-right: 5px;
}

