.header {
    min-height: 60px;
    background: #a7243b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header a {
    color: whitesmoke;
    font-size: 40px;
    text-decoration: none;
}

.header a[class='active'] {
    text-decoration: underline;
    color: #f55ef3;
}
